*.pyc
*__pycache__
*egg-info
trained_models
tensorflow_datasets
tensorflow_datasets.zip
maze.mp4
maze.png
policy_*.mp4

# PyPI
build/*
dist/*
.idea/

# Docs
.DS_Store
_site
.jekyll-cache
__pycache__
.vscode/
docs/_build/
docs/build/
_build/
/docs/environments/**/*.md
/docs/environments/**/*.html
!/docs/environments/**/index.md

# Virtual environments
.env
.venv
venv
